body {
  background-color: #114c87;
}
.form-container {
  background: rgba(0, 225, 255, 0.6);
  padding: 10px;
  border-radius: 9px;
  max-width: 400px;
  margin: auto;
  margin-top: 45px;
}
input {
  width: 97%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 6px;
}
button {
  height: max-content;
  width: 1;

}
