<!DOCTYPE html>
<html lang="uk">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Малювання - Мистецтво</title>
</head>

<link rel="stylesheet" href="../css/page.page.css">

<body>
    
    <div class="container">

        <div class="buttons">
      
            <button onclick="window.location.href='register_author.html'">Реєстрація для автора</button>
           
            <button onclick="window.location.href='regestation_customer.html'">Реєстрація для покупця</button>
           
            <button onclick="window.location.href='admin.html'">Реєстрація для адміністратора</button>
        </div>

       
        <h1>Малювання — мистецтво відображення сущого</h1>

     
        <p class="text">
            Малювання — це спосіб передати дійсність у наочних образах. Воно відображає об’єм, колір, просторовість та інші
            характеристики реального світу. Художній талант можна розвинути через постійну практику.
        </p>

        <h2>Жанри образотворчого мистецтва:</h2>

        <ul>
            <li>Портрет</li>
            <li>Натюрморт</li>
            <li>Пейзаж</li>
            <li>Батальний</li>
            <li>Побутовий</li>
            <li>Історичний</li>
            <li>Міфологічний</li>
            <li>Анімалістичний</li>
            <li>Марина (морський пейзаж)</li>
            <li>Автопортрет</li>
        </ul>


        <p class="text">Щоб стати художником, важливо постійно малювати та освоювати різні техніки.</p>
    </div>
</body>
</html>
